

main {
    display: grid;
    grid-template-areas:
        ". header ."
        ". imagen  .  "
        "contacto educacion habilidades";
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.7vw;
    
}

header {
    grid-area: header;
    text-align: center;
}


section#imagen {
    grid-area: imagen;
    width: 100%;
    text-align: center;

}

section#contacto {
    grid-area: contacto;
    margin: 0 auto;
    padding: 1vw;

}

section#educacion {
    grid-area: educacion;
    margin: 0 auto;
    padding: 1vw;
}

section#habilidades {
    grid-area: habilidades;
    margin: 0 auto;
    padding: 1vw;


}


table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;



}

table {
    width: 50%;
}




@media screen and (max-width: 600px) {


    main {
        font-size: 3vw;
        display: grid;
        grid-template-areas:
            "header "
            "imagen"
            "contacto"
            "educacion"
            "habilidades";
    }

    header {
        grid-area: header;
        text-align: center;
    }


    section#imagen {
        grid-area: imagen;
        width: 100%;
        text-align: center;
    }

    section#contacto {
        grid-area: contacto;
       margin-left: 0;
    }

    section#educacion {
        grid-area: educacion;
        margin-left: 0;

    }

    section#habilidades {
        grid-area: habilidades;
        margin-left: 0;

    }

    table,
    td,
    th {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;



    }

    table {
        width: 50%;
    }


}

.colorRosa {
    color: palevioletred;



}